<div class="sidebar">
  <h3>Notes</h3>
  <div class="tabs">
    <button
      class="tab"
      (click)="this.archivedSelected = !this.archivedSelected; fetchNotes()"
      [ngClass]="{ selected: !archivedSelected }"
    >
      Active
    </button>
    <button
      class="tab"
      (click)="
        this.archivedSelected = !this.archivedSelected; fetchArchivedNotes()
      "
      [ngClass]="{ selected: archivedSelected }"
    >
      Archived
    </button>
  </div>
  <div class="filter-box">
    <input type="text" placeholder="Filter by category..." />
  </div>
  <ul class="notes-list">
    <li *ngFor="let note of notes" (click)="outNote(note)">{{ note.title }}</li>
  </ul>
</div>
