<div class="sidebar">
  <h3>Notes</h3>
  <div class="tabs">
    <button
      class="tab"
      (click)="this.archivedSelected = !this.archivedSelected; fetchNotes()"
      [ngClass]="{ selected: !archivedSelected }"
    >
      Active
    </button>
    <button
      class="tab"
      (click)="
        this.archivedSelected = !this.archivedSelected; fetchArchivedNotes()
      "
      [ngClass]="{ selected: archivedSelected }"
    >
      Archived
    </button>
  </div>

  <div class="filter-box">
    <select
      id="category"
      [(ngModel)]="categoryFilter"
      name="category"
      (click)="filterByCategory()"
    >
      <option>Filter by category...</option>
      <option *ngFor="let category of categories" [ngValue]="category.name">
        {{ category.name }}
      </option>
    </select>
  </div>

  <div class="filter-box">
    <input
      type="text"
      placeholder="Search by title..."
      [(ngModel)]="term"
      (input)="filterNotes()"
    />
  </div>
  <ul class="notes-list">
    <li *ngFor="let note of filteredNotes" (click)="outNote(note)">
      {{ note.title }}
    </li>
  </ul>
</div>
